h1 {
 font-family: helvetica, arial, sans-serif;
 text-align: center;
}
.separator {
  width: 100%;
}
.left {
  float: left;
  padding-right: 15px;
}
.right {
  float: right;
  padding-left: 15px;
}

#PicOfMe{
  height: 250px;
  width: 500px;
}

body{
  background-color: cornflowerblue;
  color : white;
}

.LINK{
  float: right;
}

.ContactInfo{
  float: right;
}


